html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.country-markup__name {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.country-markup__wrapper {
  display: flex;
  justify-content: space-around;
}

.country-markup__text-content-wrapper {
  font-size: 32px;
}

ul.country-markup__languages-list {
  padding: 0;
}

.country-markup__languages-list li {
  margin-left: 50px;
}

.country-markup__img-flag {
  max-width: 40%;
  height: auto;
}

.countries-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.country-markup__list-item {
  cursor: pointer;
  padding: 4px 10px 4px 10px;
  border: 2px solid;
  border-radius: 25%;
  background-color: blueviolet;

}

.country-markup__list-item:not(:last-child) {
  margin-bottom: 10px;
}


input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid blueviolet;
	background: #F6F6f6;
	border-radius: 8px;
}